@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
:root{
    --cor-fundo-:  #476A99;
    --cor-fundo-botao-cancelar: rgba(166, 0, 3, 0.8);
    --cor-fundo-botao-salvar: rgba(3, 128, 14, 0.8);
    --cor-das-letras:#FFFFFF;
    --cor-fundo-card: rgba(217, 217, 217, 0.4);
    --cor-de-fundo-dos-input: rgba(31, 69, 120, 0.2);
    --cor-do-fundo-da-data: rgba(217, 217, 217, 0.5);
}

body{
    width: 100vw;
    height: 100vh;
    color: var(--cor-das-letras);
    background-color: var(--cor-fundo-);

} 
/* formulario  */

.formulario-usuario{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
} 

#h1-editar{
    text-align: center;
    margin-bottom: 2.5rem;
}

.container-centralizar{
    background-color: var(--cor-fundo-card);
    margin: 0 auto;
    width: 40%;
    height: 70%;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto-perfil{
    display: flex;
    width: 40%;
    /* height: 25%; */
    border: 4px solid #476A99;
    padding: 10px;
    margin: 0 auto;
    border-radius: 50%;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/* inputs    */

.inputUser{
    background-color: var(--cor-de-fundo-dos-input);
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: .8rem;
    margin: 0 0 .5rem  0;
    color: var(--cor-das-letras);
    height: 2.5rem;
    font-size: medium;
}

.inputUser::placeholder{
    color: var(--cor-das-letras);
}

/* coluna 1*/

.coluna-1 {
    flex-direction: row;
}
#nome{
    margin: 0 .5rem .5rem  0;
}


/*coluna 2*/

.coluna-2 input{
    width: 100%;
}

/*coluna 3*/

.coluna-3{
    display: flex;
    flex-direction: column;
}

/*datas*/

.datas h4{
    font-size: 1rem;
}


#data{
    width: 100%;
    color: var(--cor-das-letras);
    background-color:  var(--cor-do-fundo-da-data);
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    border-radius: .8rem;
    margin: .5rem 0;
}

/* Botões  */

.botoes{
    display: flex;
    justify-content: center;
    padding: 1rem;
    
    
    
}
.botoes button{
    color: var(--cor-das-letras);
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 2rem;
    font-size:medium;
}

#cancelar{
    margin-right: 10rem;
    background-color: var(--cor-fundo-botao-cancelar);
    
}
#cancelar:hover{
    box-shadow: 0 3px 33.4px #ffffff;
}

#salvar{
    background-color: var(--cor-fundo-botao-salvar)
    
}
#salvar:hover{
    box-shadow: 0 3px 33.4px #ffffff;
}