body{
    background-color: #476a99 ;
}
label, textarea {
    display: block;
  }
  
  textarea {
    margin: 15px 0;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 15% auto;
    height: 500%;
    color: #ffffff;
}
h1{
    color: #ffffff;
}
.imc{
    color: #ffffff;
}